.header{
    background: linear-gradient(to right, rgb(55, 126, 22) 20%, rgb(122, 211, 81) 100%);
    font-family: Arial, fantasy;
    font-size: 20px;
    text-align: center;
}

#header-logo{
    height: 80px;
}

button{
    font-family: Arial, fantasy;
    font-size: 20px;
    max-block-size: 60px;
    border-radius: 5%;
}

.button{
    background-color:rgb(187, 184, 184);
}

.equal{
    background-color:rgb(122, 211, 81);
}

.main div{
    font-family: Arial, fantasy;
    font-size: 20px;
    text-align: center;
}

.calculator{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    grid-area: calc;
    border: 3px solid black;
    display: grid;
    height: 400px;
    width: 300px;

    grid-template-areas: "result result result result"
    "C ANS DEL PLUS"
    "ONE TWO THREE MINUS"
    "FOUR FIVE SIX GANGE"
    "SEVEN EIGHT NINE DELE"
    "EMPTY ZERO COMMA EQUAL";
    grid-template-columns: 25% 25% 25%;
}

.log{
    margin-left: auto;
    margin-right: auto;
    grid-area: log;
    margin-top: 20px;
    min-height: 40px;
    border: 3px solid black;
    width: 300px;
}

.result{grid-area: result;
margin-top: 40px;
height: 40px;
width: 300px;}

.C{grid-area: C;}
.ANS{grid-area: ANS;}
.DEL{grid-area: DEL;}
.PLUS{grid-area: PLUS;}

.ONE{grid-area: ONE;}
.TWO{grid-area: TWO;}
.THREE{grid-area: THREE;}
.MINUS{grid-area: MINUS;}

.FOUR{grid-area: FOUR;}
.FIVE{grid-area: FIVE;}
.SIX{grid-area: SIX;}
.GANGE{grid-area: GANGE;}

.SEVEN{grid-area: SEVEN;}
.EIGHT{grid-area: EIGHT;}
.NINE{grid-area: NINE;}
.DELE{grid-area: DELE;}

.EMPTY{grid-area: EMPTY;}
.ZERO{grid-area: ZERO;}
.COMMA{grid-area: COMMA;}
.EQUAL{grid-area: EQUAL;}


.footer{
    text-align: center;
    margin-top: 100px;
}

