.header{
    font-family: Arial, fantasy;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid black;
}

#header-logo{
    height: 80px;
}

.main{
    display: grid;
    width: 100%;
    grid-template-areas: "leftCalc calc rightCalc"
    "leftCalc log rightCalc";
    grid-template-columns: 40% 20% 40%;
}

.main button{
    font-family: Arial, fantasy;
    font-size: 20px;
    max-block-size: 60px;
}

.main div{
    font-family: Arial, fantasy;
    font-size: 20px;
    text-align: center;
}

.leftCalc{grid-area: leftCalc}
.rightCalc{grid-area: rightCalc}

.calculator{
    margin-top: 50px;
    grid-area: calc;
    border: 2px solid black;
    display: grid;
    height: 400px;
    width: 300px;

    grid-template-areas: "result result result result"
    "C ANS DEL PLUS"
    "ONE TWO THREE MINUS"
    "FOUR FIVE SIX GANGE"
    "SEVEN EIGHT NINE DELE"
    "EMPTY ZERO COMMA EQUAL";
    grid-template-columns: 25% 25% 25%;
}

.log{
    grid-area: log;
    margin-top: 20px;
    height: 100px;
    border: 2px solid black;
    width: 300px;
}

.result{grid-area: result;
margin-top: 40px}

.C{grid-area: C;}
.ANS{grid-area: ANS;}
.DEL{grid-area: DEL;}
.PLUS{grid-area: PLUS;}

.ONE{grid-area: ONE;}
.TWO{grid-area: TWO;}
.THREE{grid-area: THREE;}
.MINUS{grid-area: MINUS;}

.FOUR{grid-area: FOUR;}
.FIVE{grid-area: FIVE;}
.SIX{grid-area: SIX;}
.GANGE{grid-area: GANGE;}

.SEVEN{grid-area: SEVEN;}
.EIGHT{grid-area: EIGHT;}
.NINE{grid-area: NINE;}
.DELE{grid-area: DELE;}

.EMPTY{grid-area: EMPTY;}
.ZERO{grid-area: ZERO;}
.COMMA{grid-area: COMMA;}
.EQUAL{grid-area: EQUAL;}


.footer{
    text-align: center;
    margin-top: 100px;
}

